<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <!-- Latest compiled and minified CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="/views/main.js"></script>
</head>

<body>
  <div class="container">

    <h1>Messaging Client Web Page</h1>
    <hr>
    <form id="example">
      <fieldset>
        <button type="button" class="btn btn-primary" onClick="doConnect()">connect</button>
        <button type='button' class='btn btn-danger' onClick="doDisconnect()">disconnect</button>
      </fieldset>
      <fieldset>
        <h4 id="status"></h4>
      </fieldset>
      <hr>
      <fieldset>
        <h3> Receive message </h3>
        <table id='msg_list' class="table table-bordered">
        </table>
      </fieldset>
      <hr>
      <fieldset>
        <h3> subscribe Topic List </h3>
        <table id='topic_list' class="table table-bordered">
        </table>
      </fieldset>
      <hr>
      <fieldset>
        <h3> subscribe / unsubscribe </h3>
        <input type="text" style="width :200px" class='form-control input-sm' placeholder="Topic" id="s_topic" value="">
        <br>
        <button type='button' class='btn btn-success' onClick="subscribeTopic()">subscribe</button>
        <button type='button' class='btn btn-success' onClick="unsubscribeTopic()">unsubscribe</button>
      </fieldset>
      <hr>
      <fieldset>
        <h3> Send message </h3>
        <input type="text" style="width :200px" class='form-control input-sm' placeholder="Topic" id="topic" value="">
        <br>
        <input type="text" style="width :600px" class='form-control input-sm' placeholder="content" id="content" value="">
        <br>
        <button type='button' class='btn btn-success' onClick="sendmsg()">Send</button>
      </fieldset>
    </form>
  </div>
</body>

</html>
